
# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
venv38/

# IDE
.idea/

test_data/.~lock.data_excel.xlsx#

logs/
reports/
allure_reports/